
.navbarV {
    height: 100vh;
  width: 117px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;

  &_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1; // prend tout l'espace restant
    justify-content: center; // centre les images verticalement
  }

  &_box {
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_img {
    width: 32px;
  }

  &_copyright {
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    transform: rotate(-90deg);
    white-space: nowrap;
    position: fixed;
    z-index: 3;
    bottom: 80px;
  }
}
